@import "../../../../styles/theme.scss";

.overview_container {
  width: 80%;
  margin: 1em auto;
  color: $main_font;

  .header_container {
    margin-bottom: 4em;

    .header {
      font-size: 3em;
      font-weight: bold;
      margin-bottom: 1em;
    }

    .description {
      line-height: 1.5em;
    }
  }

  .body_container {
    margin-bottom: 4em;

    .sub_header {
      font-size: 2em;
      weight: bold;
      margin-bottom: 1em;
    }

    .metadata {
      padding: 0.5em 1em 0.5em 0;
    }
  }
}
