<div class="landing_container">
	<div class="main_content">
		<div class="background_img_container" [@thumbState]="i == counter ? 'active' : 'inactive'" *ngFor="let img of images; let i = index">
			<img class="background_img" src="{{ img.src }}" (click)="toggle()">
		</div>
	
		<div class="central_body">
			<div class="main_title">
				Welcome to Rentalil!
			</div>
			<div class="main_slogan">
				Invest now, start earning tomorrow!
			</div>

			<button class="login_btn" color="primary" mat-raised-button routerLink="/login" routerLinkActive="active">Join Rentalil</button>
		</div>
	</div>

	<div class="info_content">
		<mat-tab-group mat-stretch-tabs color="primary" class="tab_group" (click)="scroll(content1)">
			<mat-tab label="Simple">
				<div #content1 class="tab_content">
					<div>
						<p>Easy to learn.</p>
						<p>Easy to win.</p>
						<button class="login_btn" color="primary" mat-raised-button routerLink="/login" routerLinkActive="active">Easy to join</button>
					</div>
					<img class="simple_tab_img" src="../../../assets/stock5.jpg">
				</div>
				
			</mat-tab>
			<mat-tab label="Use Anytime">
			 Content 2 
			</mat-tab>
			<mat-tab label="Cheap">
			 Content 3 
			</mat-tab>
		</mat-tab-group>
	</div>
</div>

