@import "../../../styles/theme.scss";

.landing_container {
	height: 100%;
	
	.main_content {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		width: 100%;
		height: 80vh;
		margin-bottom: 30px;

		.background_img_container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.background_img {
			width: 100%;
			height: 100%;
    		filter: blur(3px);
    		object-fit: cover;
    		transform: scale(1);
		}

		.central_body {
			z-index: 1;
			color: $main_font;
			font-weight: 700;

			.main_title {
				font-size: 3.0em;
				margin-bottom: 15px;
			}

			.main_slogan {
				font-size: 1.5em;
				margin-bottom: 15px;
			}

			.login_btn {
				color: #ffffff;
				margin-bottom: 15px;
				width: 50%;
				max-width: 225px;
				text-transform: uppercase;
			}
		}
	}
	.info_content {
		::ng-deep .mat-tab-label {
		    font-weight: 500; 
		    color: mat-color(map-get($theme, primary)) !important;
		    font-size: 1.5em;
		    opacity: 0.8 !important
		}

		::ng-deep .mat-tab-label-active {
		    color: mat-color(map-get($theme, primary)) !important;
		    font-size: 1.6em;
		}

		::ng-deep .mat-tab-body-wrapper {
			align-items: center;
		 	min-height: 300px;

		 	.mat-tab-body-content {
		 		display: flex;
		 		justify-content: center;
		 	}
		}

		.tab_content {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px;

			.simple_tab_img {
				width: 15em;
				height: 15em;
				margin: 10px;
			}
		}
		
	}

	

	@media screen and (max-width: 1000px) {
		.main_content {
			justify-content: flex-end;

			.central_body {
				width: 100%;
				padding-top: 75px;
				margin-bottom: -7px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+50 */
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				
				.main_title {
					font-size: 2.5em;
				}

				.login_btn {
					height: 3em;
				}
			}
		}
		
		.info_content {
			::ng-deep .mat-tab-label {
			    font-size: 1em;
			}

			::ng-deep .mat-tab-label-active {
			    font-size: 1.1em;
			}
		}
	}
}


