@import "../../../styles/theme.scss";

.login_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: relative;
	object-fit: cover;

	.background_image {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -1;
		position: absolute;
		filter: blur(3px);
	}

	.login_form_card {
		min-width: 300px;
		max-width: 400px;
		height: 50%;
		min-height: 400px;
		color: $main_font;

		.form_container {
			display: flex;
			flex-direction: column;
			margin: auto;
			max-width: 90%;
			height: 90%;
			justify-content: space-around;

			.login_btn_container {
				display: flex;
				flex-flow: column;
			}
		}
	}
}